<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="runner2">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="cucumber.cucumber1.runners.runner2">
                <methods>
                    <include name="runScenarios"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>